<h1 id="titleName">Burger Time!</h1>

<img class="mx-auto d-block" src="assets/images/favicon.jpg">

<h4 id="eatList">Chow Down on Some Juicy, Beefy Goodness!</h4>

{{#each burgers}}
{{#unless devoured}}
<div class="container-fluid" id="burgerList">
  <div class="row justify-content-center">
    <div id="eachBurger">{{burger_name}}</div>
    <button class="eatBurger" data-id="{{this.id}}" eatenValue="0" id="eachButton">NOM NOM!
    </button>
  </div>
</div>
</li>
{{/unless}}
{{/each}}

<h4 id="eatenList">Ready For Another Round?</h4>

{{#each burgers}}
{{#if devoured}}
<div class="container-fluid" id="burgerList">
  <div class="row justify-content-center">
    <button id="reorderButton" class="reorderBurger" data-id="{{this.id}}">REORDER!</button>
    <div id="eachBurgerEaten">{{burger_name}}</div>
    <button id="deleteButton" class="deleteBurger" data-id="{{this.id}}"><i class="far fa-trash-alt"></i></button>
  </div>
</div>
{{/if}}
{{/each}}

<h4 id="addBurger">Build Your Own!</h4>

<div class="container-fluid">
  <form class="create-form" id="formBurger">
    <div class="row justify-content-center">
      <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name" maxlength="25">
      </div>
    </div>
    <div class="row justify-content-center">
      <button id="addButton" type="submit">ORDER UP!</button>
    </div>
  </form>
</div>